table {
    width: 100%;
    border: 1px solid black;
}

th {
    text-align: center;
}

td {
    border: 1px solid black;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}