<p>science-view works!</p>
<div>
    <span>Id:</span>
    <label>{{Science?.Id }}</label><br /><br />
    <span>Name:</span>
    <label>{{Science?.Name}}</label><br /><br />
    <span>Price:</span>
    <label>{{Science?.Price }}</label><br /><br />
    <span>Details:</span>
    <label>{{Science?.Details}}</label><br /><br />
    <span>StartDate:</span>
    <label>{{Science?.StartDate| date: 'dd/MM/yy'}}</label><br /><br />
    <span>Email</span>
    <label>{{Science?.Email}}</label><br /><br />

</div>