<h1>Reserch works!</h1>
<button (click)="AddReserch()" class="btn btn-primary pull-right">AddReserch</button>
<br />
<br />
<input #searchName type="text" class="form-control" placeholder="Search Name" style="width:25%" />

<br />
<div>
    <input type="text" class="form-control; input-group-text" placeholder="Search Name" aria-label="Recipieants Name"
        aria-describedby="basic-addon2" style="width:21%" /><span id="basic-addon2"
        style="background-color: lightblue; border: 1px solid black; padding: 4px;">Search</span>
</div>
<br />
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Place</th>
        <th>Price</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    <tr *ngFor="let vaccine of ReserchDepartments">
        <td>{{vaccine.id}}</td>
        <td>{{vaccine.name | uppercase}}</td>
        <td (click)="alertFunction(vaccine.name)">{{vaccine.Place}}</td>
        <td>{{vaccine.Price}}</td>
        <td>{{vaccine.StartDate | date :"dd/MM/yy"}}</td>
        <td><a [routerLink]="['/ReserchView', vaccine.id]">View</a>&nbsp;&nbsp;
            <a (click)="DeleteReserch(vaccine.id)">Delete</a>&nbsp;&nbsp;
            <a (click)="EditReserch(vaccine.id)">Edit</a>&nbsp;&nbsp;
            <a (click)="SelectReserch(vaccine.id)">Select</a>
        </td>
    </tr>
    <tr style="text-align:center" *ngIf="ReserchDepartments.length==0">
        <td colspan="6">no recordes found</td>
    </tr>
</table>

<br /><br />

<form [formGroup]="ReserchForm" (ngSubmit)="onSubmit()" id="formReserch">
    <div class=" row">
        <div class="col-md-2 col-md-offset-3">
            <div class="form-group">
                <label>Id</label>
                <input id="Id" type="text" formControlName="id" class="form-control" />
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>Name</label>
                <input id="name" type="text" formControlName="name" class="form-control" />
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>Place</label>
                <input id="Place" type="text" formControlName="Place" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <div class="form-group">
                <label>Price</label>
                <input id="Price" type="text" formControlName="Price" class="form-control" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>StartDate</label>
                <input id="StartDate" type="text" formControlName="StartDate" class="form-control" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <button class="button" type="submit" class="btn btn-success ">Save</button>&nbsp;&nbsp;
            <button class="button" type="button" (click)="ClearReserch()"
                class="btn btn-default">ResetAll</button>&nbsp;&nbsp;
            <button class="button" type="button" (click)="CancelReserch()" class="btn btn-danger">Cancel</button>
        </div>
        <div class="col-md-3">
            <button class="button" (click)="ClearAll()" class="btn btn-danger pull-right">ClearAll</button>
        </div>
    </div>

</form>